body{
    margin: 20px 20px 20px 5px;
    background-color: wheat;
    
}
.countrylist ul{
    list-style-type: none;
    display: flex;
    padding-top: 60px;
    margin-left: 300px;
}

.countrylist ul li{
    margin: 10px;
}

.countrylist button{
  cursor: pointer;
display: flex;
justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  font-family:'Lato';
  background-color: #bf2222;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  border-radius: 5px;
color:#ffffff;
}

.newsitem{
     display: flexbox;
     flex-direction: column;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
     border: 30px solid whitesmoke;
     margin-left: 200px;
     margin-top: 50px;
}
.newsitem img{
    height: 100px;
     width: 200px;
    object-fit: cover;
}

nav ul{
	display: flex;
  list-style: none;
}
a{
    text-decoration: none;
  }
.navbar{
    display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      left: 0;
      top: 0;
      width:100%;
      z-index: 1;
      background-color: blue;
      transition: 0.6s ease-in-out;
  }
  nav ul li a{
    font-family: 'Bebas Neue';
  height:40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
  }
  nav ul li a:hover{
    background-color: #bf2222;
      color:#ffffff;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    transition: all ease 0.2s;
    }
.btn{
    cursor: pointer;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family:'Lato';
    background-color: #bf2222;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    border-radius: 5px;
	color:#ffffff;
  margin-left: 200px;
}
.leftbar{
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  float: left;
  padding-top: 0px;
  margin-top: 70px;
  position: fixed;
  margin-left: 0px;
}

.leftbar button{
     cursor: pointer;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-family:'Lato';
    background-color: #bf2222;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    border-radius: 5px;
	color:#ffffff;
  margin: 8px;
}
.leftbar ul{
  list-style-type: none;
  padding: 0;
}
